/* Header */

@import "base/variables";

.img-logoinicial1 {
    width: 100%;
    display: none;
}

.encabezado-color {
    color: $color-principal;
    padding: 50px;

}

.display-font-sizes {
    font-size: $font-size-3;
}